<!-- ==================================== -->
<!-- Schematic Modal section              -->
<!-- ==================================== -->
<div class="modal fade" id="schemModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div id="schemHeader" class="modal-title vpkblue">
                </div>
                <i class="fa fa-lg fa-x vpkblue" data-dismiss="modal"></i>
            </div>
            <div class="modal-body docBackground">
                <div id="schemBody">
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>