<!-- ==================================== -->
<!-- Configuration Modal section          -->
<!-- ==================================== -->
<div class="modal fade" id="configModal" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title vpkblue">Configuration</h6>
            </div>

            <div class="modal-body docBackground">
                <div id="size-sm" class="container  p-1 mb-1">
                    <div class="row mb-1">
                        <div class="col-10 px-3 py-1 vpkfont vpkblue">
                            <p>Display the <b>"managedFields"</b> portion of K8s resource view when viewing
                                resource definition. If set to On the "managedFields" for the K8s resource will be
                                shown.</p>
                        </div>
                        <div class="col-2 px-3 py-2 col-md-auto">
                            <input id="mgmFlds" type="checkbox" data-style="w-40" data-toggle="toggle" data-size="sm">
                        </div>
                    </div>

                    <div class="row mb-1">
                        <div class="col-10 px-3 py-1 vpkfont vpkblue ">
                            <p>Display the <b>"status"</b> section of K8s resource view when viewing
                                resource definition. If set to On the "status" of the K8s resource will be shown.</p>
                        </div>
                        <div class="col-2 py-2">
                            <input id="statusFlds" type="checkbox" data-style="w-40" data-toggle="toggle"
                                data-size="sm">
                        </div>
                    </div>

                    <div class="row mb-1">
                        <div class="col-10 px-3 py-1 vpkfont vpkblue ">
                            <p>Redact (hide) the content of Kubernetes "Secrets" that are retrieved from the K8s
                                cluster.
                                If set to On the content of Secrets will display a message that the content has been
                                redacted.</p>
                        </div>
                        <div class="col-2 py-2">
                            <input id="redactSecrets" type="checkbox" data-style="w-40" data-toggle="toggle"
                                data-size="sm">
                        </div>
                    </div>

                    <div class="row mb-1">
                        <div class="col-10 px-3 py-1 vpkfont vpkblue ">
                            <p>When selecting a Snapshot if the same Snapshot is selected force a complete reload and
                                reparse of data.
                                If set to On a complete reload and reparse will be performed.
                            </p>
                        </div>
                        <div class="col-2 py-2">
                            <input id="reloadAction" type="checkbox" data-style="w-40" data-toggle="toggle"
                                data-size="sm">
                        </div>
                    </div>

                    <div class="row mb-1">
                        <div class="col-10 px-3 py-1 vpkfont vpkblue ">
                            <p>Use light theme for viewing resource information. If set to On the light
                                theme is used. If Off dark theme is used.
                            </p>
                        </div>
                        <div class="col-2 py-2">
                            <input id="lightTheme" type="checkbox" data-style="w-40" data-toggle="toggle"
                                data-size="sm">
                        </div>
                    </div>

                    <div class="row mb-1">
                        <div class="col-10 px-3 py-1 vpkfont vpkblue ">
                            <p>Select the 3D cluster background from the available list.
                            </p>
                        </div>
                        <div class="col-2 py-2">
                            <div id="clusterBGOutter" class="header vpkfont-md ml-3 vpk-hdr-mid vpkinline">
                                <select id="clusterBG" class="vpkfont-md pl-3 vpk-hdr-mid" style="width: 80px;">
                                    <option>Grey</option>
                                    <option>Stars</option>
                                    <option>Sky</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <hr>
                    <div class="row mb-1">
                        <div class="col-10 px-3 py-1 vpkfont vpkblue ">
                            <div class="float-left">
                                <button id="configBtn" type="button" class="btn btn-primary btn-sm"
                                    onclick="saveConfig()" style="padding: 5px;">
                                    Save configuration
                                </button>
                                <span class="px-3 vpkfont vpkblue ">
                                    Press the "Save configuration" button if settings have been changed.
                                </span>
                            </div>
                        </div>
                    </div>
                    <hr>

                    <div class="row mb-1">
                        <div class="col-10 px-3 py-1 vpkfont vpkblue ">
                            <p>View machine architectures, memory, CPU, network, software versions, and copyright
                                information
                                for VpK application and server. Click the "i" button to view the data.
                            </p>
                        </div>
                        <div class="col-2 py-2">
                            <a href="javascript:about()">
                                <i class="fas fa-info-circle fa-lg ml-2 mt-1 vpkblue"></i>
                            </a>
                        </div>
                    </div>
                </div>



                <hr>

            </div>

            <div id="clusterModalFooter" class="modal-footer">
                <button type="button" class="btn btn-sm btn-primary" onclick="closeConfig()">Close</button>
            </div>
        </div>
    </div>
</div>