<!-- Tab: SECURITY  -->
<div id="network" class="tab-pane">
    <div class="ml-40">
        <div id="networkNodeDetail">
        </div>
        <div id="networkServiceDetail">
        </div>
    </div>

    <!-- FILTER tab on left of screen-->
    <span id="network_filter" class="vpkhidden">Filter</span>
</div>