<!-- Tab: <not a defined tab that can be selected>  -->
<div id="instructions" class="tab-pane active show">
    <div class="text-center vpkblue vkpfont-lg vpk-tagline">
        <span>"VpK&nbsp;&nbsp;visualizing what's inside of Kubernetes"</span>
    </div>
    <div id="vpkCarousel" class="carousel slide carousel-bg" data-ride="carousel" data-interval="2000"
        data-pause="hover">

        <!-- Indicators -->
        <ul class="carousel-indicators">
            <li data-target="#vpkCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#vpkCarousel" data-slide-to="1"></li>
            <li data-target="#vpkCarousel" data-slide-to="2"></li>
            <li data-target="#vpkCarousel" data-slide-to="3"></li>
            <li data-target="#vpkCarousel" data-slide-to="4"></li>
            <li data-target="#vpkCarousel" data-slide-to="5"></li>
            <li data-target="#vpkCarousel" data-slide-to="6"></li>
            <li data-target="#vpkCarousel" data-slide-to="7"></li>
            <li data-target="#vpkCarousel" data-slide-to="8"></li>
            <li data-target="#vpkCarousel" data-slide-to="9"></li>
        </ul>

        <!-- The slideshow -->
        <div class="carousel-inner centerImage">
            <div class="carousel-item mb-5 mt-4 active">
                <img src="images/wow/pic-cluster.png" alt="cluster" width="600" height="419">
            </div>
            <div class="carousel-item mb-5 mt-4">
                <img src="images/wow/pic-schematic.png" alt="schematic" width="600" height="419">
            </div>
            <div class="carousel-item mb-5 mt-4">
                <img src="images/wow/pic-storage.png" alt="storage" width="600" height="419">
            </div>
            <div class="carousel-item mb-5 mt-4">
                <img src="images/wow/pic-network.png" alt="security" width="600" height="419">
            </div>
            <div class="carousel-item mb-5 mt-4">
                <img src="images/wow/pic-security.png" alt="security" width="600" height="419">
            </div>
            <div class="carousel-item mb-5 mt-4">
                <img src="images/wow/pic-ownerref.png" alt="ownerref" width="600" height="419">
            </div>
            <div class="carousel-item mb-5 mt-4">
                <img src="images/wow/pic-eventmsgs.png" alt="ownerref" width="600" height="419">
            </div>
            <div class="carousel-item mb-5 mt-4">
                <img src="images/wow/pic-stats.png" alt="ownerref" width="600" height="419">
            </div>
            <div class="carousel-item mb-5 mt-4">
                <img src="images/wow/pic-containerimages.png" alt="ownerref" width="600" height="419">
            </div>
            <div class="carousel-item mb-5 mt-4">
                <img src="images/wow/pic-searchview.png" alt="search" width="600" height="419">
            </div>

        </div>
    </div>

    <div class="vpkfont-md vpkblue pt-2 text-center">
        <span>Visually presented Kubernetes (<b>VpK</b>) brings understanding
            and insight to the Kubernetes universe.
        </span>
    </div>
</div>