<!-- Tab: OWNERREF LINKS -->
<div id="ownerlinks" class="tab-pane">
  <div id="oref_border">
    
    <!-- Optional sidebar or additional info -->
    <!-- <div id="ownerRefLinksDetail" class="mr-2"></div> -->

    <!-- Graph rendering wrapper (mimics #security style) -->
    <div id="vizWrapper">
      <div id="oRefWrapper" style="text-align: center;"></div>
    </div>

    <!-- Filter UI -->
    <span id="ownerRef_filter" class="vpkhidden">Filter</span>
  </div>
</div>
  