<!-- Tab: SECURITY  -->
<div id="security" class="tab-pane">
        <div id="schematic_border">
                <div id="vizWrapper">
                        <div id="secViz" style="text-align: center;"></div>
                </div>
        </div>
        <!-- FILTER on left of screen-->
        <span id="security_filter" class="vpkhidden">Filter</span>
</div>