<!--
        Copyright (c) 2018-2022 K8Debug

        Permission is hereby granted, free of charge, to any person obtaining
        a copy of this software and associated documentation files (the
        "Software"), to deal in the Software without restriction, including
        without limitation the rights to use, copy, modify, merge, publish,
        distribute, sublicense, and/or sell copies of the Software, and to
        permit persons to whom the Software is furnished to do so, subject to
        the following conditions:

        The above copyright notice and this permission notice shall be
        included in all copies or substantial portions of the Software.

        THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
        EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF
        MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
        NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE
        LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION
        OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION
        WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
-->

<div id="vpkIntroCaro" class="bd-example">
  <div id="carouselCaptions" class="carousel slide multi-item-carousel" data-ride="carousel">

    <ol class="carousel-indicators">
      <li data-target="#carouselCaptions" data-slide-to="0" class="active"></li>
      <li data-target="#carouselCaptions" data-slide-to="1"></li>
      <li data-target="#carouselCaptions" data-slide-to="2"></li>
    </ol>

    <div class="carousel-inner">

      <div class="carousel-item active">
        <div class="item__third">
          <img src="docs/docimages/caroSchematic.png" width="800" height="360" class="d-block w-100" alt="">
          <div class="carousel-caption d-none d-md-block text-white">
            <p class="mb-2 vpkfont-lg bg-info">Interactive schematics of deployed workloads</p>
          </div>
        </div>
      </div>

      <div class="carousel-item">
        <div class="item__third">
          <img src="docs/docimages/caroOther.png" width="800" height="360" class="d-block w-100" alt="">
          <div class="carousel-caption d-none d-md-block text-white">
            <p class="mb-2 vpkfont-lg bg-info">RBAC info, view yaml, ownerRefs, descriptions </p>
          </div>
        </div>
      </div>

      <div class="carousel-item">
        <div class="item__third">
          <img src="docs/docimages/caroGraphs.png" width="800" height="360" class="d-block w-100" alt="">
          <div class="carousel-caption d-none d-md-block text-white">
            <p class="mb-2 vpkfont-lg bg-info">Multiple graphics of K8 resources</p>
          </div>
        </div>
      </div>
    </div>

    <a class="carousel-control-prev bg-dark" href="#carouselCaptions" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon vpkfont-lg" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next  bg-dark" href="#carouselCaptions" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>

  </div>
</div>