<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="ie=edge" />

<!-- ======================================== -->
<!-- HTML Head                                -->
<!-- ======================================== -->

<!-- Images -->
<link rel="icon" type="image/png" href="images/vpk.png">
<title>VpK</title>

<!-- ======================================== -->
<!-- CSS links                                -->
<!-- ======================================== -->

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="stylesheets/bootstrap.min.css">
<!-- Bootstrap-toggle CSS -->
<link rel="stylesheet" href="stylesheets/bootstrap-toggle.min.css">
<!-- Font Awesome-->
<link rel="stylesheet" href="stylesheets/all.min.css">
<!-- Bootstrat Table CSS -->
<link rel="stylesheet" href="stylesheets/bootstrap-table.min.css">
<!-- Multiselect css -->
<link rel="stylesheet" href="stylesheets/select2.min.4.1.0.css">
<!-- Editor CSS -->
<style type="text/css" media="screen">
    #editor {
        /** Setting height is also important, otherwise editor will not show up  on screen**/
        height: 600px;
    }
</style>
<!-- VpK Formating -->
<link rel="stylesheet" href="stylesheets/vpk.css">
<!-- VpK 3D Formating -->
<link rel="stylesheet" href="stylesheets/vpk3D.css">

<!-- ======================================== -->
<!-- Javascript links                         -->
<!-- ======================================== -->

<!-- Jquery scripts -->
<script src="javascript/3rdparty/jquery-3.4.1.min.js"></script>
<!-- Bootstrap core scripts -->
<script src="javascript/3rdparty/popper.min.js"></script>
<script src="javascript/3rdparty/bootstrap.min.js"></script>
<!-- Bootstrap Toggle scripts -->
<script src="javascript/3rdparty/bootstrap-toggle.min.js"></script>
<!-- Bootstrap Table scripts -->
<script src="javascript/3rdparty/bootstrap-table.min.js"></script>
<!-- Bootstrap Multiselect scripts -->
<script src="javascript/3rdparty/select2.min.4.1.0.js"></script>

<!-- ACE Editor-->
<script src="ace/ace.js" type="text/javascript" charset="utf-8"></script>
<!-- <script src="ace/ext-language_tools.js"></script> -->

<!-- Font Awesome related -->
<script src="javascript/3rdparty/all.js" crossorigin="anonymous"></script>