<!--
        Copyright (c) 2018-2022 K8Debug

        Permission is hereby granted, free of charge, to any person obtaining
        a copy of this software and associated documentation files (the
        "Software"), to deal in the Software without restriction, including
        without limitation the rights to use, copy, modify, merge, publish,
        distribute, sublicense, and/or sell copies of the Software, and to
        permit persons to whom the Software is furnished to do so, subject to
        the following conditions:

        The above copyright notice and this permission notice shall be
        included in all copies or substantial portions of the Software.

        THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
        EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF
        MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
        NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE
        LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION
        OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION
        WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
-->

<!-- ======================================== -->
<!-- HTML Head                                -->
<!-- ======================================== -->
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="ie=edge" />
<!-- Images -->
<link rel="icon" type="image/png" href="images/vpk.png">
<title>VpK</title>
<!-- ======================================== -->
<!-- CSS links                                -->
<!-- ======================================== -->
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="stylesheets/bootstrap.min.css">
<!-- Bootstrap-toggle CSS -->
<link rel="stylesheet" href="stylesheets/bootstrap-toggle.min.css">
<!-- Font Awesome-->
<link rel="stylesheet" href="stylesheets/all.min.css">
<!-- Bootstrat Table CSS -->
<link rel="stylesheet" href="stylesheets/bootstrap-table.min.css">
<!-- <style>
    .select,
    #locale {
        width: 100%;
    }

    .like {
        margin-right: 10px;
    }
</style> -->
<!-- Multiselect css -->
<link rel="stylesheet" href="stylesheets/select2.min.4.1.0.css">
<!-- Editor CSS -->
<style type="text/css" media="screen">
    #editor {
        /** Setting height is also important, otherwise editor wont showup**/
        height: 600px;
    }
</style>
<!-- VpK Formating -->
<link rel="stylesheet" href="stylesheets/vpk.css">
<!-- VpK 3D Formating -->
<link rel="stylesheet" href="stylesheets/vpk3D.css">


<!-- ======================================== -->
<!-- Javascript links                         -->
<!-- ======================================== -->
<!-- Jquery scripts -->
<script src="javascript/3rdparty/jquery-3.4.1.min.js"></script>
<!-- Bootstrap core scripts -->
<script src="javascript/3rdparty/popper.min.js"></script>
<script src="javascript/3rdparty/bootstrap.min.js"></script>
<!-- Bootstrap Toggle scripts -->
<script src="javascript/3rdparty/bootstrap-toggle.min.js"></script>
<!-- Bootstrap Table scripts -->
<script src="javascript/3rdparty/bootstrap-table.min.js"></script>
<!-- Bootstrap Multiselect scripts -->
<script src="javascript/3rdparty/select2.min.4.1.0.js"></script>

<!-- ACE Editor-->
<script src="ace/ace.js" type="text/javascript" charset="utf-8"></script>
<script src="ace/ext-language_tools.js"></script>
<!-- Font Awesome related -->
<script src="javascript/3rdparty/fontawesome-f62fcc73b5.js" crossorigin="anonymous"></script>