<!--
        Copyright (c) 2018-2023 Dave Weilert

        Permission is hereby granted, free of charge, to any person obtaining
        a copy of this software and associated documentation files (the
        "Software"), to deal in the Software without restriction, including
        without limitation the rights to use, copy, modify, merge, publish,
        distribute, sublicense, and/or sell copies of the Software, and to
        permit persons to whom the Software is furnished to do so, subject to
        the following conditions:

        The above copyright notice and this permission notice shall be
        included in all copies or substantial portions of the Software.

        THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
        EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF
        MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
        NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE
        LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION
        OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION
        WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
-->

<!-- ==================================== -->
<!-- Running cluster Modal section        -->
<!-- ==================================== -->
<div class="modal fade" id="clusterModal" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title vpkcolor">Cluster Information</h6>
            </div>
            <div class="modal-body docBackground">
                <div id="clusterInfo" class="vpkcolor vpkfont">
                    <div class="form-row">
                        <label class="col-sm-4 col-form-label" for="snapshot_prefix">
                            Snapshot prefix
                        </label>
                        <input id="snapshot_prefix" type="text" class="form-control col-sm-8" value="vpk">
                    </div>
                    <div class="form-row mt-1">
                        <label class="col-sm-4 col-form-label" for="get_cmd">
                            kubectl or other command</label>
                        <input id="get_cmd" type="text" class="form-control col-sm-8" value="kubectl">
                    </div>
                    <div class="form-row mt-1">
                        <label class="col-sm-4 col-form-label" for="k8_namespace">
                            Namespace</label>
                        <input id="k8_namespace" type="text" class="form-control col-sm-8" value="&lt;all&gt;">
                    </div>

                    <div id="sshInfo" class="vpkhidden">
                        <hr class="hrDatasource">
                        <div class="mb-4 mt-4">
                            <div class="mb-2 vpkblue">
                                Running from container parameters
                            </div>
                            <p>
                                <b>Note: </b>If the above defined 'kubectl or other command' is not on the default path
                                a possible error will occur. If this error happens provide a fully qualified path to the
                                command.
                            </p>
                            <p>
                                The VpK container will utilize ssh to pass the get k8s resource commands to the host for
                                execution by the host configured and authenticated CLI.
                            </p>
                            <p>
                                The following parameters are used with commands sshpass and ssh to enable the container
                                to run the above 'kubectl or other command' on the host machine to create the
                                snapshot files.
                            </p>
                        </div>

                        <div class="form-row">
                            <label class="col-sm-4 col-form-label" for="host_ip">
                                Host-IP (required)</label>
                            <input id="host_ip" type="text" class="form-control col-sm-8" value=""
                                placeholder="host IP address for ssh">
                        </div>
                        <div class="form-row mt-1">
                            <label class="col-sm-4 col-form-label" for="host_user">
                                User (required)</label>
                            <input id="host_user" type="text" class="form-control col-sm-8" value=""
                                placeholder="user name for ssh">
                        </div>
                        <div class="form-row mt-1">
                            <label class="col-sm-4 col-form-label" for="host_password">
                                Password (required)</label>
                            <input id="host_password" type="password" class="form-control col-sm-8" value=""
                                placeholder="password for ssh user">
                        </div>

                        <div class="mb-2 mt-4 vpkblue">
                            <span class="vpkfont-md pl-1">Example command passed to host from VpK container:</span>
                        </div>
                        <div class="mt-2 ml-4">
                            <p>
                                sshpass -p
                                <span class="vpk-font-bold-italic pl-1">
                                    'password'
                                </span>
                                <span class="pl-2">
                                    ssh -o StrictHostKeyChecking=no
                                </span>
                                <span class="vpk-font-bold-italic pl-1">
                                    user@host-ip
                                </span>
                                <span class="vpk-font-bold-italic pl-1">
                                    'kubectl parms'
                                </span>
                            </p>
                        </div>
                        <hr class="hrDatasource">
                    </div>
                    <div id="clusterButton">
                        <div class="'vpk-pt-10">
                            <button id="clusterBtn" type="button" class="btn btn-outline-primary btn-sm mt-2"
                                onclick="dynamic()">Connect</button>
                        </div>
                    </div>
                </div>
            </div>

            <div id="clusterStatus" class="ml-3">
            </div>

            <div id="clusterModalFooter" class="modal-footer">
                <button type="button" class="btn btn-sm btn-primary" onclick="closeGetCluster()">Close</button>
            </div>
        </div>
    </div>
</div>
</div>