<!-- ==================================== -->
<!-- Shutdown VPK                            -->
<!-- ==================================== -->
<div class="modal fade" id="closeVpKModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title vpkblue">Shutdown VpK</h6>
            </div>
            <div class="modal-body docBackground">
                <div class="vpkfont vpkblue">
                    <p>Press the 'Shutdown' button below to stop running the VpK application and server.</p>
                </div>
                <div class="text-center">
                    <span>
                        <button type="button" class="btn btn-sm btn-primary mr-2"
                            onclick="shutdownVpK()">Shutdown</button>

                        <button type="button" class="btn btn-sm btn-primary ml-2 pl-4 pr-4"
                            onclick="cancelShutdown()">Cancel</button>
                    </span>
                </div>

            </div>
            <div id="closeVpKModalFooter" class="modal-footer text-center ">
                &nbsp;
            </div>

        </div>
    </div>
</div>