<!--
        Copyright (c) 2018-2023 Dave Weilert

        Permission is hereby granted, free of charge, to any person obtaining
        a copy of this software and associated documentation files (the
        "Software"), to deal in the Software without restriction, including
        without limitation the rights to use, copy, modify, merge, publish,
        distribute, sublicense, and/or sell copies of the Software, and to
        permit persons to whom the Software is furnished to do so, subject to
        the following conditions:

        The above copyright notice and this permission notice shall be
        included in all copies or substantial portions of the Software.

        THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
        EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF
        MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
        NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE
        LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION
        OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION
        WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
-->

<!-- ==================================== -->
<!-- Configuration Modal section          -->
<!-- ==================================== -->
<div class="modal fade" id="configModal" tabindex="-1" role="dialog" data-backdrop="static" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title vpkcolor">Configuration</h6>
                <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button> -->
            </div>

            <div class="modal-body docBackground">
                <div id="size-sm" class="container  p-1 mb-1">
                    <div class="row mb-1">
                        <div class="col-10 px-3 py-1 vpkfont vpkcolor">
                            <p>Display the <b>"managedFields"</b> portion of K8s resource view when viewing
                                resource definition. If set to On the "managedFields" for the K8s resource will be
                                shown.</p>
                        </div>
                        <div class="col-2 px-3 py-2 col-md-auto">
                            <input id="mgmFlds" type="checkbox" data-style="w-40" data-toggle="toggle" data-size="sm">
                        </div>
                    </div>

                    <div class="row mb-1">
                        <div class="col-10 px-3 py-1 vpkfont vpkcolor ">
                            <p>Display the <b>"status"</b> section of K8s resource view when viewing
                                resource definition. If set to On the "status" of the K8s resource will be shown.</p>
                        </div>
                        <div class="col-2 py-2">
                            <input id="statusFlds" type="checkbox" data-style="w-40" data-toggle="toggle"
                                data-size="sm">
                        </div>
                    </div>

                    <div class="row mb-1">
                        <div class="col-10 px-3 py-1 vpkfont vpkcolor ">
                            <p>Redact (hide) the content of Kubernetes "Secrets" that are retrieved from the K8s
                                cluster.
                                If set to On the content of Secrets will display a message that the content has been
                                redacted.</p>
                        </div>
                        <div class="col-2 py-2">
                            <input id="redactSecrets" type="checkbox" data-style="w-40" data-toggle="toggle"
                                data-size="sm">
                        </div>
                    </div>

                    <div class="row mb-1">
                        <div class="col-10 px-3 py-1 vpkfont vpkcolor ">
                            <p>When selecting a Snapshot if the same Snapshot is selected force a complete reload and
                                reparse of data.
                                If set to On a complete reload and reparse will be performed.
                            </p>
                        </div>
                        <div class="col-2 py-2">
                            <input id="reloadAction" type="checkbox" data-style="w-40" data-toggle="toggle"
                                data-size="sm">
                        </div>
                    </div>

                    <div class="row mb-1">
                        <div class="col-10 px-3 py-1 vpkfont vpkcolor ">
                            <p>Use light theme for viewing resource information. If set to On the light
                                theme is used. If Off dark theme is used.
                            </p>
                        </div>
                        <div class="col-2 py-2">
                            <input id="lightTheme" type="checkbox" data-style="w-40" data-toggle="toggle"
                                data-size="sm">
                        </div>
                    </div>

                    <div class="row mb-1">
                        <div class="col-10 px-3 py-1 vpkfont vpkcolor ">
                            <p>Selec the 3D cluster background from the available list.
                            </p>
                        </div>
                        <!-- <div class="col-2 py-2">
                            <select id="clsuterBG" class="vpkfont-md pl-3 vpk-hdr-mid" style="width: 80px;">
                                <option>Grey</option>
                                <option>Stars</option>
                                <option>Sky</option>
                            </select>
                        </div> -->
                        <div class="col-2 py-2">
                            <div id="clusterBGOutter" class="header vpkfont-md ml-3 vpk-hdr-mid vpkinline">
                                <select id="clusterBG" class="vpkfont-md pl-3 vpk-hdr-mid" style="width: 80px;">
                                    <option>Grey</option>
                                    <option>Stars</option>
                                    <option>Sky</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <hr>
                    <div class="row mb-1">
                        <div class="col-10 px-3 py-1 vpkfont vpkcolor ">
                            <div class="float-left">
                                <button id="configBtn" type="button" class="btn btn-primary btn-sm"
                                    onclick="saveConfig()" style="padding: 5px;">
                                    Save configuration
                                </button>
                                <span class="px-3 vpkfont vpkcolor ">
                                    Press the "Save configuration" button if settings have been changed.

                                </span>

                            </div>
                        </div>
                    </div>
                    <hr>

                    <div class="row mb-1">
                        <div class="col-10 px-3 py-1 vpkfont vpkcolor ">
                            <p>View machine architectures, memory, CPU, network, software versions, and copyright
                                information
                                for VpK application and server. Click the "i" button to view the data.
                            </p>
                        </div>
                        <div class="col-2 py-2">
                            <a href="javascript:about()">
                                <i class="fas fa-info-circle fa-lg ml-2 mt-1 vpkcolor"></i>
                            </a>
                        </div>
                    </div>
                </div>



                <hr>

            </div>

            <div id="clusterModalFooter" class="modal-footer">
                <button type="button" class="btn btn-sm btn-primary" onclick="closeConfig()">Close</button>
            </div>
        </div>
    </div>
</div>