<!--
        Copyright (c) 2018-2023 k8sVisual

        Permission is hereby granted, free of charge, to any person obtaining
        a copy of this software and associated documentation files (the
        "Software"), to deal in the Software without restriction, including
        without limitation the rights to use, copy, modify, merge, publish,
        distribute, sublicense, and/or sell copies of the Software, and to
        permit persons to whom the Software is furnished to do so, subject to
        the following conditions:

        The above copyright notice and this permission notice shall be
        included in all copies or substantial portions of the Software.

        THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
        EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF
        MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
        NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE
        LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION
        OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION
        WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
-->

<!-- ==================================== -->
<!-- Configuration Modal section          -->
<!-- ==================================== -->
<div class="modal fade" id="configModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title vpkcolor">Configuration</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body docBackground">
                <div id="size-sm" class="container  p-1 mb-1">
                    <div class="row mb-1">
                        <div class="col-10 px-3 py-1 vpkfont vpkcolor">
                            <p>Display the <b>"managedFields"</b> portion of k8s resource view.
                                &nbsp;&nbsp;If set to On the "managedFields" for the k8s resource will be shown.</p>
                        </div>
                        <div class="col-2 px-3 py-2 col-md-auto">
                            <input id="mgmFlds" type="checkbox" data-style="w-40" data-toggle="toggle" data-size="sm">
                        </div>
                    </div>

                    <div class="row mb-1">
                        <div class="col-10 px-3 py-1 vpkfont vpkcolor ">
                            <p>Display the <b>"status"</b> section of k8s resource view.
                                &nbsp;'On' the status information will be shown.</p>
                        </div>
                        <div class="col-2 py-2">
                            <input id="statusFlds" type="checkbox" data-style="w-40" data-toggle="toggle"
                                data-size="sm">
                        </div>
                    </div>
                </div>

                <div class="mt-2 float-left">
                    <button id="configBtn" type="button" class="btn btn-outline-primary btn-sm" onclick="saveConfig()"
                        style="margin: 5px;">
                        Save configuration
                    </button>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

<!-- ==================================== -->
<!-- Shutdown VPK                            -->
<!-- ==================================== -->
<div class="modal fade" id="closeVpKModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title vpkcolor">Shutdown VpK</h6>
            </div>
            <div class="modal-body docBackground">
                <div class="vpkfont vpkcolor">
                    <p>Press the 'Shutdown' button below to stop running the VpK application.</p>
                </div>
                <div class="text-center">
                    <span>
                        <button type="button" class="btn btn-sm btn-primary mr-2"
                            onclick="shutdownVpK()">Shutdown</button>

                        <button type="button" class="btn btn-sm btn-primary ml-2 pl-4 pr-4"
                            onclick="cancelShutdown()">Cancel</button>
                    </span>
                </div>

            </div>
            <div id="closeVpKModalFooter" class="modal-footer text-center ">
                &nbsp;
            </div>

        </div>
    </div>
</div>

<!-- ==================================== -->
<!-- Running cluster Modal section        -->
<!-- ==================================== -->
<div class="modal fade" id="clusterModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title vpkcolor">Cluster Information</h6>
            </div>
            <div class="modal-body docBackground">
                <div id="clusterInfo">
                    <div class="form-row">
                        <label class="col-sm-4 col-form-label vpkcolor" for="snapshot_prefix"
                            style="padding-top: 15px;">
                            Snapshot prefix
                        </label>
                        <input id="snapshot_prefix" type="text" class="form-control col-sm-8" value="vpk"
                            style="margin-bottom: 5px;">
                    </div>
                    <div class="form-row">
                        <label class="col-sm-4 col-form-label vpkcolor" for="get_cmd" style="padding-top: 15px;">
                            kubectl or other command</label>
                        <input id="get_cmd" type="text" class="form-control col-sm-8" value="kubectl"
                            style="margin-bottom: 5px;">
                    </div>
                    <div class="form-row">
                        <label class="col-sm-4 col-form-label vpkcolor" for="k8_namespace" style="padding-top: 15px;">
                            Namespace</label>
                        <input id="k8_namespace" type="text" class="form-control col-sm-8" value="<all>"
                            style="margin-bottom: 5px;">
                    </div>
                    <div id="clusterButton">
                        <div style="padding-top: 20px;">
                            <button id="clusterBtn" type="button" class="btn btn-outline-primary btn-sm"
                                onclick="dynamic()" style="margin: 5px;">Connect</button>
                        </div>
                    </div>
                </div>
            </div>

            <div id="clusterStatus" class="ml-3 mb-2">
            </div>

            <div id="clusterModalFooter" class="modal-footer">
                <button type="button" class="btn btn-sm btn-primary" onclick="closeGetCluster()">Close</button>
            </div>
        </div>
    </div>
</div>
</div>

<!-- ==================================== -->
<!-- Run command Modal section            -->
<!-- ==================================== -->
<div class="modal fade" id="commandModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title vpkcolor">Run command in container</h6>
            </div>
            <div class="modal-body docBackground">
                <div class="container mt-2">
                    <span class="vpkfont">Enter command to send container running VpK</span>
                    <form>
                        <div class="form-group">
                            <label class="vpkfont-md" for="commandInput">Command:</label>
                            <textarea id="commandInput" rows="3" class="form-control"></textarea>
                            <p class="vpkfont-md">Output</p>
                            <textarea id="commandOutput" rows="10" class="form-control vpkfont-decode"
                                style="font-family: 'Courier New', monospace;">
                            </textarea>
                        </div>
                    </form>
                    <div id="sendCommand">
                        <button type="button" class="btn btn-sm btn-primary" onclick="sendCommand()">Send
                            command</button>
                    </div>
                </div>
            </div>
            <div id="clusterModalFooter" class="modal-footer">
                <button type="button" class="btn btn-sm btn-primary" onclick="closeRunCommand()">Close</button>
            </div>

        </div>
    </div>
</div>

<!-- ==================================== -->
<!-- Decode secret Modal section          -->
<!-- ==================================== -->
<div class="modal fade" id="decodeModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <span class="modal-title vpkcolor pr-3">Decoded content for secret</span>
                <span class="vpkfont pt-1" id="decodeName"></span>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body docBackground">
                <!-- need to add logic to dynamically change the cols value based on size of browser window -->
                <textarea id="decode" rows="33" cols="162" class="vpkfont-decode">
                    <!-- content here -->
                </textarea>

            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

<!-- ==================================== -->
<!-- Message Modal section              -->
<!-- ==================================== -->
<div class="modal fade" id="messageModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title vpkcolor">Message</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body docBackground">
                <div id="messageBody">
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

<!-- ==================================== -->
<!-- Schematic Modal section              -->
<!-- ==================================== -->
<div class="modal fade" id="schemModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div id="schemHeader" class="modal-title vpkcolor">
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body docBackground">
                <div id="schemBody">
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

<!-- ==================================== -->
<!-- Documentation Modal section          -->
<!-- ==================================== -->
<div class="modal fade" id="docsModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title vpkcolor">Documentation</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body docBackground">
                <div id="docsBody" class="docsTable ml-5 mr-5 mt-1 mb-5">
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

<!-- ==================================== -->
<!-- Change directory Modal section       -->
<!-- ==================================== -->
<div class="modal fade" id="chgDirModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title vpkcolor">Previous captured snapshot</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body docBackground">

                <!-- Drop down for existing saved cluster info instances -->
                <div class="form-group col-4 mt-3" style="margin: -15px; padding-bottom: 15px;">
                    <select id="dsInstances" class="vpkfont-md"
                        style="width: 500px; height: 30px; vertical-align:middle;">
                    </select>
                </div>

                <div class="mt-2 float-left">
                    <button id="validateBtn" type="button" class="btn btn-outline-primary btn-sm" onclick="reload()"
                        style="margin: 5px;">
                        Connect
                    </button>
                    <div id="loadStatus" class="row ml-4 mt-2">
                        <!-- <div class="col mt-1 ml-1"> -->
                        <img style="float:left" src="images/loading.gif" width="40" height="40" />
                        <div class="vpkfont-md vpkcolor ml-2 mt-2">
                            <span>&nbsp;&nbsp;Processing datasource connect request </span>
                            <!-- </div> -->
                        </div>

                        <div id="parseStatus" class="mt-5 vpkfont vpkcolor">

                        </div>

                    </div>
                </div>
            </div>
            <div id="chgDirFooter" class="modal-footer">
                <button id="closeChgDir" type="button" class="btn btn-sm btn-primary"
                    onclick="closeChgDir()">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- ==================================== -->
<!-- Compare Snapshot Modal section       -->
<!-- ==================================== -->
<div class="modal fade" id="compareModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title vpkcolor">Select snapshot to compare</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body docBackground">
                <!-- Drop down for existing saved snapshots -->
                <div class="form-group col-4 mt-3" style="margin: -15px; padding-bottom: 15px;">
                    <select id="compareInstances" class="vpkfont-md"
                        style="width: 500px; height: 30px; vertical-align:middle;">
                    </select>
                </div>

                <div class="mt-2 float-left">
                    <button id="comparePickBtn" type="button" class="btn btn-outline-primary btn-sm"
                        onclick="setCompareSnap()" style="margin: 5px;">
                        Select snapshot
                    </button>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

<!-- ==================================== -->
<!-- About Modal section                  -->
<!-- ==================================== -->
<div class="modal fade" id="aboutModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title vpkcolor">Visually presented Kubernetes</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body docBackground">
                <div class="align-middle">
                    <div class="ml-1 mr-1 mt-2 mb-2 vpkfont vpkcolor text-center">
                        <p><span class="vpkfont-lg">VpK&nbsp;</span><span id="version"
                                class="ml-1 vpkfont vpkcolor"></span>
                        </p>
                    </div>

                    <div class="vpkfont-md vpkcolor ml-4 mr-4 mt-4 mb-4">
                        <!-- <p>
                            Icons that are used to help identify resources are the properties of the associated
                            companies or organizations.
                            Any errors or omissions in providing attribution is merely an accident and does not imply
                            any ownership.
                        </p> -->
                    </div>

                    <div id="usageRunning" class="row ml-4">
                        <img style="float:left" src="images/loading.gif" width="40" height="40" />
                        <div class="vpkfont vpkcolor ml-2 mt-2">
                            <span>&nbsp;&nbsp;Retrieving usage information</span>
                        </div>
                    </div>
                    <div id="usageResult" class="ml-2 mr-2 mt-4 mb-4 vpkfont-md vpkcolor">
                    </div>

                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

<!-- ==================================== -->
<!-- Explain Modal section                -->
<!-- ==================================== -->
<div class="modal fade" id="explainModal" tabindex="-1" role="dialog">
    <div class="modal-dialog explainWidth" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title vpkcolor">Resource Kind Description</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body docBackground">
                <div class="row mb-2 ml-1 vpkfont vpkcolor ">
                    <div class="col-md-2 font-weight-bold mb-0">
                        Kind:
                    </div>
                    <div id="explainKind" class="col-md-10 ml-3">
                    </div>
                </div>
                <div class="row mb-2 ml-1 vpkfont vpkcolor ">
                    <div class="col-md-2 font-weight-bold mb-0">
                        Version:
                    </div>
                    <div id="explainVersion" class="col-md-10 ml-3">
                    </div>
                </div>
                <div class="row mb-2 ml-1 vpkfont vpkcolor ">
                    <div class="col-md-2 font-weight-bold mb-0">
                        Description:
                    </div>
                    <div id="explainDesc" class="col-md-10 ml-3">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

<!-- ==================================== -->
<!-- Security Info Modal section          -->
<!-- ==================================== -->
<div class="modal fade" id="secInfoModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title vpkcolor">Security Information</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body docBackground">
                <div id="secInfoContent" style="text-align: left;">
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

<!-- ==================================== -->
<!-- Multi-List Modal section             -->
<!-- ==================================== -->
<div class="modal fade" id="multiModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title vpkcolor">Resources</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body docBackground">
                <div class="vpkfont-md vpkcolor">
                    <p>Press button to view resource information:
                    </p>
                </div>
                <div id="multiContents" style="text-align: left;">
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

<!-- ==================================== -->
<!-- Missing YAML Modal section           -->
<!-- ==================================== -->
<div class="modal fade" id="yamlModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title vpkcolor">No Resource Found</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body docBackground">
                <div class="vpkfont vpkcolor">
                    <p>Unable to display resource definition. Data for the selected resource was not located.
                    </p>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

<!-- ==================================== -->
<!-- Many Bindings Modal section          -->
<!-- ==================================== -->
<div class="modal fade" id="manyBindingsModal" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title vpkcolor">Bindings filter</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body docBackground">
                <div class="vpkfont vpkcolor">
                    <p>
                        <scan id="bindingsCnt"></scan> RoleBindings and/or ClusterRoleBindings exist, if you would like
                        to filter the view select one or more binding names and then press the filter bindings button.
                    </p>
                </div>
                <div id="filter-bindings" class="row filterBack pl-1 mt-1">
                    <div class="vpkfont-md mt-2 filterWidth">
                        Binding names
                    </div>
                    <div id="bindings-select" class="ml-1 mr-1 mt-1 vpkfont-md">
                        <select id="bindings-filter" multiple="multiple" style="width: 550px" id="bar1-options">
                            <option>all-namespaces</option>
                            <option>&lt;cluster-level&gt;</option>
                            <option>openshift</option>
                            <option>default</option>
                            <option>team01</option>
                            <option>team02</option>
                        </select>
                    </div>
                </div>
                <button id="configBtn" type="button" class="btn btn-outline-primary btn-sm" onclick="reduceBindings()"
                    style="margin: 5px;">
                    Filter bindings
                </button>
            </div>
            <div id="manyBindingsModalFooter" class="modal-footer">
                <button type="button" class="btn btn-sm btn-primary" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">Close</span>
                </button>
            </div>
        </div>
    </div>
</div>

<!-- ==================================== -->
<!-- Cluster Legend Modal section          -->
<!-- ==================================== -->
<div class="modal fade" id="clusterLegendModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title vpkcolor">3D Cluster Legend:</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body docBackground">
                <div class="mt-1 pl-3 vpkfont">Nodes (square cube)</div>
                <div class="pl-3 pt-3">
                    <svg width="400" height="65">
                        <g>
                            <rect x="25" y="1" width="40" height="40" fill="#804040"
                                style="stroke: #ffffff; stroke-width:2" />
                            <text text-anchor="middle" x="40" y="60" font-family="Times 100" font-size="12.00"
                                fill="#000000">Master node</text>
                        </g>
                        <g>
                            <rect x="110" y="1" width="40" height="40" fill="#c4bec4"
                                style="stroke: #ffffff; stroke-width:2" />
                            <text text-anchor="middle" x="125" y="60" font-family="Times 100" font-size="12.00"
                                fill="#000000">Worker node</text>
                        </g>
                    </svg>
                    <hr>
                </div>

                <div class="mt-1 pl-3 vpkfont">Pods (hexagon prism)</div>
                <div class="pl-3 pt-3">
                    <svg width="450" height="65">
                        <g>
                            <polygon points="22,20 37,1 57,1 72,20 57,40 37,40 22,20"
                                style="fill:#00ff00; stroke: #ffffff; stroke-width:2" />
                            <text text-anchor="middle" x="47" y="58" font-family="Times 100" font-size="12.00"
                                fill="#000000">Running</text>
                        </g>
                        <g>
                            <polygon points="105,20 120,1 140,1 155,20 140,40 120,40 105,20"
                                style="fill:#00a6ff; stroke: #ffffff; stroke-width:2" />
                            <text text-anchor="middle" x="130" y="58" font-family="Times 100" font-size="12.00"
                                fill="#000000">Successful</text>
                        </g>
                        <g>
                            <polygon points="188,20 203,1 223,1 237,20 223,40 203,40 188,20"
                                style="fill:#ffff00; stroke: #ffffff; stroke-width:2" />
                            <text text-anchor="middle" x="213" y="58" font-family="Times 100" font-size="12.00"
                                fill="#000000">Warning</text>
                        </g>
                        <g>
                            <polygon points="271,20 286,1 306,1 321,20 306,40 286,40 271,20"
                                style="fill:#808080; stroke: #ffffff; stroke-width:2" />
                            <text text-anchor="middle" x="296" y="58" font-family="Times 100" font-size="12.00"
                                fill="#000000">DaemonSet</text>
                        </g>
                        <g>
                            <polygon points="354,20 369,1 389,1 404,20 389,40 369,40 354,20"
                                style="fill:#bf0000; stroke: #ffffff; stroke-width:2" />
                            <text text-anchor="middle" x="379" y="58" font-family="Times 100" font-size="12.00"
                                fill="#000000">Failed</text>
                        </g>
                    </svg>
                    <hr>
                </div>


                <div class="mt-1 pl-3 vpkfont">Network (sphere)</div>
                <div class="pl-3 pt-2">
                    <svg width="400" height="85">

                        <defs>
                            <radialGradient id="highlight" cx="50%" cy="50%" r="50%" fx="50%" fy="50%">
                                <stop offset="0%" style="stop-color:white; stop-opacity:1" />
                                <stop offset="100%" style="stop-color:white; stop-opacity:0" />
                            </radialGradient>
                        </defs>

                        <g>
                            <circle cx="45" cy="25" r="20" stroke="#ffffff" stroke-width="2" fill="#0000ef" />
                            <circle cx="45" cy="25" r="10" fill="url(#highlight)" />
                            <text text-anchor="middle" x="45" y="58" font-family="Times 100" font-size="12.00"
                                fill="#000000">Endpoint</text>
                        </g>
                        <g>
                            <circle cx="130" cy="25" r="20" stroke="#ffffff" stroke-width="2" fill="#80bfbf" />
                            <circle cx="130" cy="25" r="10" fill="url(#highlight)" />
                            <text text-anchor="middle" x="130" y="58" font-family="Times 100" font-size="12.00"
                                fill="#000000">Service</text>
                        </g>
                        <g>
                            <circle cx="215" cy="25" r="20" stroke="#ffffff" stroke-width="2" fill="#ffff00" />
                            <circle cx="215" cy="25" r="10" fill="url(#highlight)" />
                            <text text-anchor="middle" x="215" y="58" font-family="Times 100" font-size="12.00"
                                fill="#000000">Ingress &</text>
                            <text text-anchor="middle" x="215" y="78" font-family="Times 100" font-size="12.00"
                                fill="#000000">IngressControl</text>
                        </g>
                    </svg>
                    <hr>
                </div>


                <div class="mt-1 pl-3 vpkfont">Storage (cylinder and open cylinder plane)</div>
                <div class="pl-3 pt-2">
                    <svg width="400" height="120">
                        <g>
                            <!-- Bottom face -->
                            <ellipse cx="45" cy="55" rx="20" ry="10" fill="#ba8759" />
                            <!-- Side faces -->
                            <rect x="25" y="15" width="40" height="40" fill="#ba8759" style="stroke: #ba8759" />
                            <!-- Top face -->
                            <ellipse cx="45" cy="15" rx="20" ry="10" fill="#ba8759"
                                style="stroke: #ffffff; stroke-width:1" />
                            <text text-anchor="middle" x="45" y="80" font-family="Times 100" font-size="12.00"
                                fill="#000000">Persistent</text>
                            <text text-anchor="middle" x="45" y="95" font-family="Times 100" font-size="12.00"
                                fill="#000000">Volume</text>
                            <text text-anchor="middle" x="45" y="110" font-family="Times 100" font-size="12.00"
                                fill="#000000">PV</text>
                        </g>
                        <g>
                            <!-- Bottom face -->
                            <ellipse cx="125" cy="55" rx="20" ry="10" fill="#bfbf1a" />
                            <!-- Side faces -->
                            <rect x="105" y="15" width="40" height="40" fill="#bfbf1a" style="stroke: #bfbf1a" />
                            <!-- Top face -->
                            <ellipse cx="125" cy="15" rx="20" ry="10" fill="#bfbf1a"
                                style="stroke: #ffffff; stroke-width:1" />
                            <text text-anchor="middle" x="125" y="80" font-family="Times 100" font-size="12.00"
                                fill="#000000">Persistent</text>
                            <text text-anchor="middle" x="125" y="95" font-family="Times 100" font-size="12.00"
                                fill="#000000">Volume Claim</text>
                            <text text-anchor="middle" x="125" y="110" font-family="Times 100" font-size="12.00"
                                fill="#000000">PVC</text>
                        </g>
                        <g>
                            <!-- Bottom face -->
                            <ellipse cx="205" cy="55" rx="20" ry="10" fill="#fa9903" />
                            <!-- Side faces -->
                            <rect x="185" y="15" width="40" height="40" fill="#fa9903" style="stroke: #fa9903" />
                            <!-- Top face -->
                            <ellipse cx="205" cy="15" rx="20" ry="10" fill="#fa9903"
                                style="stroke: #ffffff; stroke-width:1" />
                            <text text-anchor="middle" x="205" y="80" font-family="Times 100" font-size="12.00"
                                fill="#000000">Storage</text>
                            <text text-anchor="middle" x="205" y="95" font-family="Times 100" font-size="12.00"
                                fill="#000000">Class</text>
                        </g>
                        <g>
                            <rect x="280" y="20" width="40" height="40" fill="#ff0000" fill-opacity="0.45"
                                style="stroke: #ffffff; stroke-width:2" />
                            <text text-anchor="middle" x="300" y="80" font-family="Times 100" font-size="12.00"
                                fill="#000000">CSI</text>
                            <text text-anchor="middle" x="300" y="95" font-family="Times 100" font-size="12.00"
                                fill="#000000">Storage</text>
                            <text text-anchor="middle" x="300" y="110" font-family="Times 100" font-size="12.00"
                                fill="#000000">Plane</text>
                        </g>
                    </svg>
                    <hr>
                </div>


                <div class="mt-1 pl-3 vpkfont">Control Plane (open cylinder plane, triangle cube, and sphere)</div>
                <div class="pl-3 pt-2">
                    <svg width="700" height="95">
                        <defs>
                            <radialGradient id="highlight" cx="50%" cy="50%" r="50%" fx="50%" fy="50%">
                                <stop offset="0%" style="stop-color:white; stop-opacity:1" />
                                <stop offset="100%" style="stop-color:white; stop-opacity:0" />
                            </radialGradient>
                        </defs>
                        <g>
                            <rect x="25" y="1" width="40" height="40" fill="#725db7" fill-opacity="0.25"
                                style="stroke: #ffffff; stroke-width:2" />
                            <text text-anchor="middle" x="40" y="60" font-family="Times 100" font-size="12.00"
                                fill="#000000">Control</text>
                            <text text-anchor="middle" x="40" y="80" font-family="Times 100" font-size="12.00"
                                fill="#000000">Plane</text>
                        </g>
                        <g>
                            <polygon points="108,10 133,1 138,10 108,10"
                                style=" fill:#725db7; fill-opacity: 0.25; stroke: #ffffff; stroke-width:2" />
                            <rect x="108" y="10" width="30" height="30" fill="#725db7" fill-opacity="0.25"
                                style="stroke: #ffffff; stroke-width:2" />
                            <text text-anchor="middle" x="120" y="58" font-family="Times 100" font-size="12.00"
                                fill="#000000">Component</text>
                        </g>
                        <g>
                            <circle cx="205" cy="25" r="20" stroke="#ffffff" stroke-width="2" fill="#725db7"
                                fill-opacity="0.25" />
                            <circle cx="205" cy="25" r="10" fill="url(#highlight)" />
                            <text text-anchor="middle" x="205" y="58" font-family="Times 100" font-size="12.00"
                                fill="#000000">kubectl</text>
                        </g>
                    </svg>
                    <hr>
                </div>


                <div class="mt-1 pl-3 vpkfont">API Resource Planes (curved rectangle planes with spheres)</div>
                <div class="pl-3 pt-2">
                    <svg width="700" height="195">
                        <defs>
                            <radialGradient id="highlight" cx="50%" cy="50%" r="50%" fx="50%" fy="50%">
                                <stop offset="0%" style="stop-color:white; stop-opacity:1" />
                                <stop offset="100%" style="stop-color:white; stop-opacity:0" />
                            </radialGradient>
                        </defs>
                        <g>
                            <rect x="25" y="1" width="40" height="40" fill="#972AFF" fill-opacity="0.25"
                                style="stroke: #ffffff; stroke-width:2" />
                            <text text-anchor="middle" x="40" y="60" font-family="Times 100" font-size="12.00"
                                fill="#000000">Workload</text>
                            <text text-anchor="middle" x="40" y="80" font-family="Times 100" font-size="12.00"
                                fill="#000000">Plane</text>
                            <circle cx="45" cy="20" r="10" fill="#972AFF" />
                            <circle cx="45" cy="20" r="10" fill="url(#highlight)" />
                        </g>
                        <g>
                            <rect x="110" y="1" width="40" height="40" fill="#88BBDD" fill-opacity="0.25"
                                style="stroke: #ffffff; stroke-width:2" />
                            <text text-anchor="middle" x="125" y="60" font-family="Times 100" font-size="12.00"
                                fill="#000000">Service</text>
                            <text text-anchor="middle" x="125" y="80" font-family="Times 100" font-size="12.00"
                                fill="#000000">Plane</text>
                            <circle cx="130" cy="20" r="10" fill="#88BBDD" />
                            <circle cx="130" cy="20" r="10" fill="url(#highlight)" />
                        </g>
                        <g>
                            <rect x="195" y="1" width="40" height="40" fill="#ff4500" fill-opacity="0.55"
                                style="stroke: #ffffff; stroke-width:2" />
                            <text text-anchor="middle" x="210" y="60" font-family="Times 100" font-size="12.00"
                                fill="#000000">Config/Storage</text>
                            <text text-anchor="middle" x="210" y="80" font-family="Times 100" font-size="12.00"
                                fill="#000000">Plane</text>
                            <circle cx="215" cy="20" r="10" fill="#ff4500" />
                            <circle cx="215" cy="20" r="10" fill="url(#highlight)" />
                        </g>
                        <g>
                            <rect x="280" y="1" width="40" height="40" fill="#CC9900" fill-opacity="0.25"
                                style="stroke: #ffffff; stroke-width:2" />
                            <text text-anchor="middle" x="295" y="60" font-family="Times 100" font-size="12.00"
                                fill="#000000">Authorization</text>
                            <text text-anchor="middle" x="295" y="80" font-family="Times 100" font-size="12.00"
                                fill="#000000">Plane</text>
                            <circle cx="300" cy="20" r="10" fill="#CC9900" />
                            <circle cx="300" cy="20" r="10" fill="url(#highlight)" />
                        </g>
                        <g>
                            <rect x="365" y="1" width="40" height="40" fill="#FFBED7" fill-opacity="0.25"
                                style="stroke: #ffffff; stroke-width:2" />
                            <text text-anchor="middle" x="380" y="60" font-family="Times 100" font-size="12.00"
                                fill="#000000">Authentication</text>
                            <text text-anchor="middle" x="380" y="80" font-family="Times 100" font-size="12.00"
                                fill="#000000">Plane</text>
                            <circle cx="385" cy="20" r="10" fill="#FFBED7" />
                            <circle cx="385" cy="20" r="6" fill="url(#highlight)" />
                        </g>

                        <!--- Second Row -->

                        <g>
                            <rect x="25" y="100" width="40" height="40" fill="#66CC99" fill-opacity="0.25"
                                style="stroke: #ffffff; stroke-width:2" />
                            <text text-anchor="middle" x="40" y="160" font-family="Times 100" font-size="12.00"
                                fill="#000000">Policy</text>
                            <text text-anchor="middle" x="40" y="180" font-family="Times 100" font-size="12.00"
                                fill="#000000">Plane</text>
                            <circle cx="45" cy="120" r="10" fill="#66CC99" />
                            <circle cx="45" cy="120" r="10" fill="url(#highlight)" />
                        </g>
                        <g>
                            <rect x="110" y="100" width="40" height="40" fill="#FFABAB" fill-opacity="0.45"
                                style="stroke: #ffffff; stroke-width:2" />
                            <text text-anchor="middle" x="125" y="160" font-family="Times 100" font-size="12.00"
                                fill="#000000">Extend</text>
                            <text text-anchor="middle" x="125" y="180" font-family="Times 100" font-size="12.00"
                                fill="#000000">Plane</text>
                            <circle cx="130" cy="120" r="10" fill="#FFABAB" />
                            <circle cx="130" cy="120" r="10" fill="url(#highlight)" />
                        </g>
                        <g>
                            <rect x="195" y="100" width="40" height="40" fill="#BAEEE5" fill-opacity="0.35"
                                style="stroke: #ffffff; stroke-width:2" />
                            <text text-anchor="middle" x="210" y="160" font-family="Times 100" font-size="12.00"
                                fill="#000000">Cluster</text>
                            <text text-anchor="middle" x="210" y="180" font-family="Times 100" font-size="12.00"
                                fill="#000000">Plane</text>
                            <circle cx="215" cy="120" r="10" fill="#BAEEE5" />
                            <circle cx="215" cy="120" r="4" fill="url(#highlight)" />
                        </g>
                        <g>
                            <rect x="280" y="100" width="40" height="40" fill="#CCCCCC" fill-opacity="0.25"
                                style="stroke: #ffffff; stroke-width:2" />
                            <text text-anchor="middle" x="295" y="160" font-family="Times 100" font-size="12.00"
                                fill="#000000">Other</text>
                            <text text-anchor="middle" x="295" y="180" font-family="Times 100" font-size="12.00"
                                fill="#000000">Plane</text>
                            <circle cx="300" cy="120" r="10" fill="#CCCCC" />
                            <circle cx="300" cy="120" r="10" fill="url(#highlight)" />
                        </g>
                        <g>
                            <rect x="365" y="100" width="40" height="40" fill="#FF0099" fill-opacity="0.25"
                                style="stroke: #ffffff; stroke-width:2" />
                            <text text-anchor="middle" x="380" y="160" font-family="Times 100" font-size="12.00"
                                fill="#000000">3rd Party</text>
                            <text text-anchor="middle" x="380" y="180" font-family="Times 100" font-size="12.00"
                                fill="#000000">Plane</text>
                            <circle cx="385" cy="120" r="10" fill="#FF0099" />
                            <circle cx="385" cy="120" r="10" fill="url(#highlight)" />
                        </g>
                    </svg>
                    <hr>
                </div>


                <div class="mt-1 pl-3 vpkfont">Registry (cylinder)</div>
                <div class="pl-3 pt-2">
                    <svg width="400" height="85">
                        <g>
                            <!-- Bottom face -->
                            <ellipse cx="45" cy="25" rx="20" ry="10" fill="#66cc33" />
                            <!-- Side faces -->
                            <rect x="25" y="15" width="40" height="10" fill="#66cc33" style="stroke: #66cc33" />
                            <!-- Top face -->
                            <ellipse cx="45" cy="15" rx="20" ry="10" fill="#66cc33"
                                style="stroke: #ffffff; stroke-width:1" />
                            <text text-anchor="middle" x="45" y="55" font-family="Times 100" font-size="12.00"
                                fill="#000000">Container</text>
                            <text text-anchor="middle" x="45" y="70" font-family="Times 100" font-size="12.00"
                                fill="#000000">Registry</text>
                        </g>
                    </svg>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ==================================== -->
<!-- Security Legend Modal section          -->
<!-- ==================================== -->
<div class="modal fade" id="securityLegendModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title vpkcolor">Security Legend:</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body docBackground">
                <div class="mt-1 pl-3 vpkfont">Subject Kinds (rectangle)</div>
                <div class="pl-3 pt-2">
                    <svg width="750" height="55">
                        <g>
                            <rect x="10" y="0" width="100" height="40" fill="#17a2b8" />
                            <text text-anchor="middle" x="60" y="24" font-family="Times 100" font-size="12.00"
                                fill="#ffffff">ServiceAccount</text>
                        </g>
                        <g>
                            <rect x="120" y="0" width="100" height="40" fill="#007bff" />
                            <text text-anchor="middle" x="167" y="24" font-family="Times 100" font-size="12.00"
                                fill="#ffffff">SystemGroup</text>
                        </g>
                        <g>
                            <rect x="230" y="0" width="100" height="40" fill="#6c757d" />
                            <text text-anchor="middle" x="280" y="24" font-family="Times 100" font-size="12.00"
                                fill="#ffffff">SystemUser</text>
                        </g>
                        <g>
                            <rect x="340" y="0" width="100" height="40" fill="#f0ad4e" />
                            <text text-anchor="middle" x="390" y="24" font-family="Times 100" font-size="12.00"
                                fill="#ffffff">Group</text>
                        </g>
                        <g>
                            <rect x="450" y="0" width="100" height="40" fill="#dc3545" />
                            <text text-anchor="middle" x="500" y="24" font-family="Times 100" font-size="12.00"
                                fill="#ffffff">User</text>
                        </g>
                        <g>
                            <rect x="560" y="0" width="100" height="40" fill="#0000ff" />
                            <text text-anchor="middle" x="610" y="24" font-family="Times 100" font-size="12.00"
                                fill="#ffffff">
                                &lt;not defined&gt;
                            </text>
                        </g>
                    </svg>
                    <hr>
                </div>

                <div class="mt-3 pl-3 vpkfont">Bindings (ellipse)</div>
                <div class="pl-3 pt-2">
                    <svg width="400" height="55">
                        <g>
                            <ellipse cx="70" cy="20" rx="70" ry="20" fill="#6e03d3" />
                            <text text-anchor="middle" x="70" y="24" font-family="Times 100" font-size="12.00"
                                fill="#ffffff">ClusterRoleBinding</text>
                        </g>
                        <g>
                            <ellipse cx="220" cy="20" rx="70" ry="20" fill="#016601" />
                            <text text-anchor="middle" x="220" y="24" font-family="Times 100" font-size="12.00"
                                fill="#ffffff">RoleBinding</text>
                        </g>
                    </svg>
                    <hr>
                </div>

                <div class="mt-3 pl-3 vpkfont">Roles (polygon)</div>
                <div class="pl-3 pt-2">
                    <svg width="400" height="55">
                        <g>
                            <polygon points="0,20 20,1 120,1 140,20 120,40 20,40 0,20"
                                style="fill:#dec4f7; stroke: #000000; stroke-width:1" />
                            <text text-anchor="middle" x="70" y="24" font-family="Times 100" font-size="12.00"
                                fill="ffffff">ClusterRole</text>
                        </g>
                        <g>
                            <polygon points="150,20 170,1 270,1 290,20 270,40 170,40 150,20"
                                style="fill:#3ad35d; stroke: #000000; stroke-width:1" />
                            <text text-anchor="middle" x="220" y="24" font-family="Times 100" font-size="12.00"
                                fill="#ffffff">Role</text>
                        </g>
                    </svg>
                    <hr>
                </div>

                <div class="mt-3 pl-3 vpkfont">Rules (table)</div>
                <div class="pl-3 pr-3 pt-3 pb-2 vpkfont">
                    Rule table provides up to 35 entires. Viewing of addtional rules is accomplished
                    by clicking any of the listed rules or the box symbol shown below this table.
                </div>
                <hr>
            </div>
        </div>
    </div>
</div>

<!-- ==================================== -->
<!-- Search value Modal section           -->
<!-- ==================================== -->
<div class="modal fade" id="searchModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title vpkcolor">Search value</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body docBackground">
                <div class="vpkfont vpkcolor">
                    <p>The Search value input field can be used standalone or in conjuntion with the Namespace(s) and/or
                        Kind(s) inputs. The Namespace(s) and Kind(s) searches are performed before the Seach value
                        input.
                        <span class="vpkfont-bold">All entered information is case sensative.</span>
                    </p>
                    <ul>
                        <li>
                            <p class="vpkfont-bold">Full search</p>
                        </li>
                        <span>
                            <p> Enter any text in the input field. Kubernetes resource defintions will
                                be searched for the value regardless of where the value is located.
                            </p>
                        </span>
                        <li>
                            <p class="vpkfont-bold">Limited searchs </p>
                        </li>
                        <span>
                            <p>There are three types of limited searches. Each requires a specific keyword to indicate
                                the associated search is to be performed. Keywords are case sensative and must be
                                entered
                                in lowercase.
                            </p>
                            <ol>
                                <li><span class="vpkfont-bold">name</span> - search for a resource by name. Keyword -
                                    name: </li>
                                <li><span class="vpkfont-bold">labels</span> - search lables of the metatdata section.
                                    Keyword - labels: </li>
                                <li><span class="vpkfont-bold">annotations</span> - search annotations of the metatdata
                                    section. Keyword - annotations: </li>
                            </ol>
                            <p class="pt-2">The optional parameter of "::value::" can be used with labels and
                                annotations.
                                If a matching label or annotation is found the value defined for the label or annotation
                                is then compared for a matching value against this parameter.</p>
                            <p>The ::value:: parameter can be used to locate all matching values regardless of the label
                                or
                                annotation name. This is accomplished by using an "*" astrick as the value for the
                                labels: or
                                annotations: parameters.</p>
                    </ul>
                    <hr>
                    Example searchs:
                    <p class="pl-3">Search all resources for any occurance of text 'Part=a7be5c9d'.<br>
                        <span class="pl-5 vpkfont-bold">Part=a7be5c9d</span>
                    </p>

                    <p class="pl-3">Search for resources defined with the name 'bookinfo'.<br>
                        <span class="pl-5 vpkfont-bold">name: bookinfo</span>
                    </p>

                    <p class="pl-3">Search resource metadata labels that match 'app.kubernetes.io'.<br>
                        <span class="pl-5 vpkfont-bold">labels: app.kubernetes.io</span>
                    </p>
                    <p class="pl-3">Search resource metadata labels that match 'release' and have the value
                        'production'.<br>
                        <span class="pl-5 vpkfont-bold">labels: release ::value:: production
                    </p>
                    <p class="pl-3">Search all resource metadata labels for the value 'server'.<br>
                        <span class="pl-5 vpkfont-bold">labels: * ::value:: server</span>
                    </p>


                    <p class="pl-3">Search resource metadata annotations that match 'productName'.<br>
                        <span class="pl-5 vpkfont-bold">annotations: productName</span>
                    </p>
                    <p class="pl-3">Search resource metadata annotations that match 'network' and have the value
                        'wifi'.<br>
                        <span class="pl-5 vpkfont-bold">annotations: network ::value:: wifi</span>
                    </p>
                    <p class="pl-3">Search all resource metadata annotations for the value 'click'.<br>
                        <span class="pl-5 vpkfont-bold">annotations: * ::value:: operational-task</span>
                    </p>
                    </span>

                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

<!-- ==================================== -->
<!-- Directory stats Modal section        -->
<!-- ==================================== -->
<div class="modal fade" id="statsModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div id="statsHeader">
                    <h6 class="modal-title vpkcolor">Snapshot stats</h6>
                    <div class="float-right">
                        <button type="button" class="btn btn-sm btn-outline-primary vpkfont-sm"
                            onclick="buildStatsToggle()">Toggle Kind/Namespace</button>
                        &nbsp;&nbsp;<span class="vpkfont-sm vpkcolor">Press button to toggle views between resource Kind
                            and Namespace groupings. </span>
                    </div>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body docBackground">
                <div id="statContents" class="vpkfont-md text-center">
                    <p>Stats data</P>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

<!-- ==================================== -->
<!-- editor Modal section                 -->
<!-- ==================================== -->
<div class="modal fade" id="editorModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div id="editTitle" class="ml-2">
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body pb-0 docBackground">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div id="file-content" style="display: none;"></div>
                        <div id="editor"></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer mt-0 pt-1">
            </div>
        </div>
    </div>
</div> <!-- End of editor Modal -->

<!-- ==================================== -->
<!-- compare Modal section                 -->
<!-- ==================================== -->
<div class="modal fade" id="compareFilesModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div id="compareTitle" class="ml-2">
                    <h6 class="modal-title vpkcolor">Snapshot file(s) content</h6>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body pb-0 docBackground">
                <div class="dualUp">

                    <div class="panel panel-default">
                        <span id="snapTitle1" class="ml-2 mt-2 mb-2 vpkcolor vpkfont-sm">Snapshot 1</span>
                        <div id="compareTitle1" class="ml-2 mb-2">
                        </div>
                        <div class="panel-body">
                            <div id="file-content" style="display: none;"></div>
                            <div id="editorC1" style="height: 600px; width: 550px"></div>
                        </div>
                    </div>

                    <div class="panel panel-default" style="height: 450px; width: 40px;">&nbsp;</div>

                    <div class="panel panel-default">
                        <span id="snapTitle2" class="ml-2 mt-2 mb-2 vpkcolor vpkfont-sm">Snapshot 2</span>
                        <div id="compareTitle2" class="ml-2 mb-2">
                        </div>
                        <div class="panel-body">
                            <div id="file-content" style="display: none;"></div>
                            <div id="editorC2" style="height: 600px; width: 550px"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer mt-0 pt-1">
            </div>
        </div>
    </div>
</div> <!-- End of editor Modal -->