<!-- ==================================== -->
<!-- Message Modal section              -->
<!-- ==================================== -->
<div class="modal fade mt-5" id="messageModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title vpkblue">Message</h6>
                <i class="fa fa-lg fa-x vpkblue" data-dismiss="modal"></i>
            </div>
            <div class="modal-body docBackground">
                <div id="messageBody" class="vpkfont vpkblue">
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>