<!-- ==================================== -->
<!-- Missing YAML Modal section           -->
<!-- ==================================== -->
<div class="modal fade" id="yamlModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title vpkblue">No Resource Found</h6>
                <i class="fa fa-lg fa-x vpkblue" data-dismiss="modal"></i>
            </div>
            <div class="modal-body docBackground">
                <div class="vpkfont vpkblue">
                    <p>Unable to display resource definition. Data for the selected resource was not located.
                    </p>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>