<!-- ==================================== -->
<!-- editor Modal section                 -->
<!-- ==================================== -->
<div class="modal fade" id="editorModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div id="editTitle" class="ml-2">
                </div>
                <i class="fa fa-lg fa-x vpkblue" data-dismiss="modal"></i>
            </div>
            <div class="modal-body pb-0 docBackground">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div id="file-content" style="display: none;"></div>
                        <div id="editor"></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer mt-0 pt-1">
            </div>
        </div>
    </div>
</div> <!-- End of editor Modal -->