<!-- ==================================== -->
<!-- Multi-List Modal section             -->
<!-- ==================================== -->
<div class="modal fade" id="multiModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title vpkblue">Resources</h6>
                <i class="fa fa-lg fa-x vpkblue" data-dismiss="modal"></i>
            </div>
            <div class="modal-body docBackground">
                <div class="vpkfont-md vpkblue">
                    <p><span class="pl-2 pr-3">Press to view</span><span class="ml-5"> -- Resource Name --</span>
                    </p>
                </div>
                <div id="multiContents" style="text-align: left;">
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>