<!-- ==================================== -->
<!-- Yes/No Message Modal section         -->
<!-- ==================================== -->
<div class="modal fade mt-5" id="yesNoModal" tabindex="-1" role="dialog" data-background="static">
    <div class="modal-dialog modal-ms" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title vpkblue">Repsond to message</h6>
            </div>
            <div class="modal-body docBackground">
                <div id="yesNoMessageBody" class="vpkfont vpkblue">
                </div>
            </div>
            <div class="modal-footer">
                <button id="modalYesButton" type="button" class="btn btn-primary" onclick="processModalYesNo('Y')">
                    <span id="yesNoMessageYes">Yes</span>
                </button>
                <button id="modalNoButton" type="button" class="btn btn-primary" onclick="processModalYesNo('N')">
                    <span id="yesNoMessageNo">No</span>
                </button>
            </div>
        </div>
    </div>
</div>