<!-- ==================================== -->
<!-- About Modal section                  -->
<!-- ==================================== -->
<div class="modal fade" id="aboutModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title vpkblue">Visually presented Kubernetes</h6>
                <i class="fa fa-lg fa-x vpkblue" data-dismiss="modal"></i>
            </div>
            <div class="modal-body docBackground">
                <div class="align-middle">
                    <div class="ml-1 mr-1 mt-2 mb-2 vpkfont vpkblue text-center">
                        <p><span class="vpkfont-lg">VpK&nbsp;</span><span id="version"
                                class="ml-1 vpkfont vpkblue"></span>
                        </p>
                    </div>

                    <div class="vpkfont-md vpkblue ml-4 mr-4 mt-4 mb-4">
                        <!-- <p>
                            Icons that are used to help identify resources are the properties of the associated
                            companies or organizations.
                            Any errors or omissions in providing attribution is merely an accident and does not imply
                            any ownership.
                        </p> -->
                    </div>

                    <div id="usageRunning" class="row ml-4">
                        <img style="float:left" src="images/loading.gif" alt="loading" width="40" height="40" />
                        <div class="vpkfont vpkblue ml-2 mt-2">
                            <span>&nbsp;&nbsp;Retrieving usage information</span>
                        </div>
                    </div>
                    <div id="usageResult" class="ml-2 mr-2 mt-4 mb-4 vpkfont-md vpkblue">
                    </div>

                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>