<!-- Tab: SEARCH  -->
<div id="searchview" class="tab-pane">
    <div id="searchReturn">
    </div>

    <div id="searchResults" class="ml-2 mr-2 mt-1">
        <table id="tableSearch" class="table table-bordered table-sm" data-buttons-class="primary"
            data-buttons-prefix="btn-sm btn" data-icon-size="sm" data-loading-template="loadingTemplate"
            data-maintain-meta-data="true" data-page-list="[10, 25, 50, 100, 200, All]" data-pagination="true"
            data-pagination-v-align="both" data-search="true" data-search-highlight="true" data-show-columns="true"
            data-show-export="true" data-show-fullscreen="true" data-show-print="true" data-show-refresh="true"
            data-show-toggle="true" data-sort-class="table-active" data-sortable="true" data-trim-on-search="false"
            data-toggle="table" data-visible="true">
            <thead class='thead-light'>
                <tr>
                    <th data-field="namespace" data-sortable="true">Namespace</th>
                    <th data-field="kind" data-sortable="true">Kind</th>
                    <th data-field="value" data-sortable="true">Kind Name</th>
                    <th data-field="src">Fnum</th>
                </tr>
            </thead>
        </table>
    </div>
    <div class="col-md-12 ml-2 mt-2 mb-3 p-0">
        <span class="mr-2 vpkfont-md vpkblue">
            Click table row to view the resource yaml
        </span>
    </div>
</div>