<!-- Tab: OWNERREF LINKS  -->
<div id="ownerlinks" class="tab-pane">
    <div id="oref_border">
        <div id="ownerRefLinksDetail" class="mr-2">
        </div>

        <div id="oRefWrapper">
            <!-- <div id="oRefViz" style="text-align: center;"></div> -->
        </div>

        <!-- FILTER on left of screen-->
        <span id="ownerRef_filter">Filter</span>
    </div>
</div>