<!-- Tab: CLUSTER  -->
<div id="cluster" class="tab-pane">
    <!-- Cluster 3D View-->
    <div id="cluster3DView" style="display: none;">
        <div class="cluster-content">
            <canvas id="clusterCanvas"></canvas>
        </div>
    </div>

    <span id="slideIn_box">Properties</span>
    <div id="slideIn" class="hidden">
        <button type="button" class="btn btn-outline-primary vpkButtons vpkwhite header-right mt-1 mr-1"
            onclick="closeSlideIn()">&nbsp;Close&nbsp;
        </button>

        <div class="content">
            <div class="mr-2 pd-2">
                <!-- <div id="resourceProps" class="mt-1 mb-1 mr-1 pr-3 pt-3 pb-3 vpkfont vpkcolor"> -->
                <div id="resourceProps" class="mt-1 mb-1 mr-1 vpkfont vpkcolor">
                    <!-- Resource info inserted here -->
                </div>
            </div>
        </div>
    </div>

    <!-- FILTER on left of screen-->
    <span id="cluster_filter">Filter view</span>
    <div id="cluster_filter_box">
        <div style="display: inline;">
            <div class="form-check vpkfont-filter">
                <span class="vpkcolor align-middle">Resource Categories</span>
                <button type="button" class="btn btn-outline-primary vpkButtons vpkwhite header-right"
                    onclick="closeClusterFilter()">&nbsp;Close&nbsp;
                </button>
            </div>
        </div>
        <hr>
        <div class="form-check vpkfont-filter ml-1 vpk-vert-mid">
            <input class="form-check-input filter-checkbox" type="checkbox" value="" id="clusterFilterNodes"
                name="clusterFilterNodes" checked>
            <span class="nodeMst">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>&nbsp;<span
                class="nodeWrk">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <label class="form-check-label" for="clusterFilterNodes">
                Nodes (Master, Worker)
            </label>
        </div>

        <div class="form-check vpkfont-filter ml-1 vpk-vert-mid">
            <input class="form-check-input filter-checkbox" type="checkbox" value="" id="clusterFilterCSI"
                name="clusterFilterCSI" checked>
            <span class="csiStorage">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <label class="form-check-label" for="clusterFilterCSI">
                CSI (Container Storage Interface)
            </label>
        </div>


        <div class="form-check vpkfont-filter ml-1 vpk-vert-mid">
            <input class="form-check-input filter-checkbox" type="checkbox" value="" id="clusterFilterStorage"
                name="clusterFilterStorage" checked>
            <span class="pvc">&nbsp;&nbsp;&nbsp;</span>&nbsp;<span class="pv">&nbsp;&nbsp;&nbsp;</span>&nbsp;<span
                class="storageClass">&nbsp;&nbsp;&nbsp;</span>
            <label class="form-check-label" for="clusterFilterStorage">
                Storage (PVC, PV, Storage Class)
            </label>
        </div>

        <div class="form-check vpkfont-filter ml-1 vpk-vert-mid">
            <input class="form-check-input filter-checkbox" type="checkbox" value="" id="clusterFilterNetwork"
                name="clusterFilterNetwork" checked>
            <span class="endpoint">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>&nbsp;<span
                class="service">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <label class="form-check-label" for="clusterFilterNetwork">
                Network (Endpoint, Service)
            </label>
        </div>

        <div class="form-check vpkfont-filter ml-1 vpk-vert-mid">
            <input class="form-check-input filter-checkbox" type="checkbox" value="" id="clusterFilterIngress"
                name="clusterFilterIngress" checked>
            <span class="ingress">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <label class="form-check-label" for="clusterFilterIngress">
                Ingress/IngressControl
            </label>
        </div>

        <div class="form-check vpkfont-filter ml-1 vpk-vert-mid">
            <input class="form-check-input filter-checkbox" type="checkbox" value="" id="clusterFilterControlP"
                name="clusterFilterControlP" checked>
            <span class="controlPlane">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <label class="form-check-label" for="clusterFilterControlP">
                Control Plane
            </label>
        </div>


        <div class="form-check vpkfont-filter ml-1 vpk-vert-mid">
            <input class="form-check-input filter-checkbox" type="checkbox" value="" id="clusterFilterWorkload"
                name="clusterFilterWorkload" checked>
            <span class="workloadPlane">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <label class="form-check-label" for="clusterFilterWorkload">
                Workload level plane
            </label>
        </div>

        <div class="form-check vpkfont-filter ml-1 vpk-vert-mid">
            <input class="form-check-input filter-checkbox" type="checkbox" value="" id="clusterFilterService"
                name="clusterFilterService" checked>
            <span class="servicePlane">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <label class="form-check-label" for="clusterFilterService">
                Service level plane
            </label>
        </div>


        <div class="form-check vpkfont-filter ml-1 vpk-vert-mid">
            <input class="form-check-input filter-checkbox" type="checkbox" value="" id="clusterFilterConfigStorage"
                name="clusterFilterConfigStorage" checked>
            <span class="configStoragePlane">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <label class="form-check-label" for="clusterFilterConfigStorage">
                ConfigStorage level plane
            </label>
        </div>

        <div class="form-check vpkfont-filter ml-1 vpk-vert-mid">
            <input class="form-check-input filter-checkbox" type="checkbox" value="" id="clusterFilterAuthentication"
                name="clusterFilterAuthentication" checked>
            <span class="authenticationPlane">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <label class="form-check-label" for="clusterFilterAuthentication">
                Authenticate related plane
            </label>
        </div>

        <div class="form-check vpkfont-filter ml-1 vpk-vert-mid">
            <input class="form-check-input filter-checkbox" type="checkbox" value="" id="clusterFilterAuthorization"
                name="clusterFilterAuthorization" checked>
            <span class="authorizationPlane">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <label class="form-check-label" for="clusterFilterAuthorization">
                Authorizaiton related plane
            </label>
        </div>

        <div class="form-check vpkfont-filter ml-1 vpk-vert-mid">
            <input class="form-check-input filter-checkbox" type="checkbox" value="" id="clusterFilterPolicy"
                name="clusterFilterPolicy" checked>
            <span class="policyPlane">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <label class="form-check-label" for="clusterFilterPolicy">
                Policy related plane
            </label>
        </div>

        <div class="form-check vpkfont-filter ml-1 vpk-vert-mid">
            <input class="form-check-input filter-checkbox" type="checkbox" value="" id="clusterFilterExtend"
                name="clusterFilterExtend" checked>
            <span class="extendPlane">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <label class="form-check-label" for="clusterFilterExtend">
                Extend resources plane
            </label>
        </div>

        <div class="form-check vpkfont-filter ml-1 vpk-vert-mid">
            <input class="form-check-input filter-checkbox" type="checkbox" value="" id="clusterFilterCluster"
                name="clusterFilterCluster" checked>
            <span class="clusterPlane">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <label class="form-check-label" for="clusterFilterCluster">
                Cluster resources plane
            </label>
        </div>

        <div class="form-check vpkfont-filter ml-1 vpk-vert-mid">
            <input class="form-check-input filter-checkbox" type="checkbox" value="" id="clusterFilterOther"
                name="clusterFilterOther" checked>
            <span class="otherPlane">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <label class="form-check-label" for="clusterFilterOther">
                Other resources plane
            </label>
        </div>

        <div class="form-check vpkfont-filter ml-1 vpk-vert-mid">
            <input class="form-check-input filter-checkbox" type="checkbox" value="" id="clusterFilterThirdParty"
                name="clusterFilterThirdParty" checked>
            <span class="thirdPartyPlane">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <label class="form-check-label" for="clusterFilterThirdParty">
                ThirdParty resources plane
            </label>
        </div>



        <hr style="margin-left: -10px;">
        <div class="form-check vpkfont-filter">
            <span>Pods</span>
        </div>

        <div class="form-check vpkfont-filter ml-1">
            <input class="form-check-input filter-checkbox" type="checkbox" value="" id="clusterFilterRunning"
                name="clusterFilterRunning" checked>
            <span class="podRunning">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <label class="form-check-label" for="clusterFilterRunning">
                Running Pods
            </label>
        </div>

        <div class="form-check vpkfont-filter ml-1">
            <input class="form-check-input filter-checkbox" type="checkbox" value="" id="clusterFilterWarning"
                name="clusterFilterWarning" checked>
            <span class="podWarn">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <label class="form-check-label" for="clusterFilterWarning">
                Warning Pods
            </label>
        </div>

        <div class="form-check vpkfont-filter ml-1">
            <input class="form-check-input filter-checkbox" type="checkbox" value="" id="clusterFilterFailed"
                name="clusterFilterFailed" checked>
            <span class="podFail">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <label class="form-check-label" for="clusterFilterFailed">
                Failed Pods
            </label>
        </div>

        <div class="form-check vpkfont-filter ml-1">
            <input class="form-check-input filter-checkbox" type="checkbox" value="" id="clusterFilterSuccessful"
                name="clusterFilterSuccessful" checked>
            <span class="podSuccessful">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <label class="form-check-label" for="clusterFilterSuccessful">
                Successful/Finished Pods
            </label>
        </div>

        <div class="form-check vpkfont-filter ml-1">
            <input class="form-check-input filter-checkbox" type="checkbox" value="" id="clusterFilterDSPods"
                name="clusterFilterDSPods">
            <span class="podDaemon">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <label class="form-check-label" for="clusterFilterDSPods">
                DaemonSet Pods
            </label>
        </div>

        <hr style="margin-left: -10px;">
        <div class="form-check vpkfont-filter">
            <span>Resource CPU & Memory</span>
        </div>

        <div class="form-check vpkfont-filter ml-1">
            <input class="form-check-input filter-checkbox" type="checkbox" value="" id="clusterFilterNodeMemory"
                name="clusterFilterNodeMemory">
            <span class="nodeMemory">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <label class="form-check-label" for="clusterFilterNodeMemory">
                Node Memory
            </label>
        </div>

        <div class="form-check vpkfont-filter ml-1">
            <input class="form-check-input filter-checkbox" type="checkbox" value="" id="clusterFilterNodeCPU"
                name="clusterFilterNodeCPU">
            <span class="nodeCPU">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <label class="form-check-label" for="clusterFilterNodeCPU">
                Node CPU
            </label>
        </div>

        <div class="form-check vpkfont-filter ml-1">
            <input class="form-check-input filter-checkbox" type="checkbox" value="" id="clusterFilterNodeStorage"
                name="clusterFilterNodeStorage">
            <span class="nodeStorage">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <label class="form-check-label" for="clusterFilterNodeStorage">
                Node Persistent Storage
            </label>
        </div>

        <div class="form-check vpkfont-filter ml-1">
            <input class="form-check-input filter-checkbox" type="checkbox" value="" id="clusterFilterMemoryLimit"
                name="clusterFilterMemoryLimit">
            <span class="memoryLimit">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <label class="form-check-label" for="clusterFilterMemoryLimit">
                Pod Memory Limit
            </label>
        </div>

        <div class="form-check vpkfont-filter ml-1">
            <input class="form-check-input filter-checkbox" type="checkbox" value="" id="clusterFilterMemoryRequest"
                name="clusterFilterMemoryRequest">
            <span class="memoryRequest">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <label class="form-check-label" for="clusterFilterMemoryRequest">
                Pod Memory Requested
            </label>
        </div>

        <div class="form-check vpkfont-filter ml-1">
            <input class="form-check-input filter-checkbox" type="checkbox" value="" id="clusterFilterCPULimit"
                name="clusterFilterCPULimit">
            <span class="cpuLimit">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <label class="form-check-label" for="clusterFilterCPULimit">
                Pod CPU Limit
            </label>
        </div>

        <div class="form-check vpkfont-filter ml-1">
            <input class="form-check-input filter-checkbox" type="checkbox" value="" id="clusterFilterCPURequest"
                name="clusterFilterCPURequest">
            <span class="cpuRequest">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <label class="form-check-label" for="clusterFilterCPURequest">
                Pod CPU Requested
            </label>
        </div>

        <hr style="margin-left: -10px;">
        <div class="form-check vpkfont-filter">
            <span>NAMESPACES</span>&nbsp;&nbsp;
            <span class="vpkfont-filter">(default: all-namespaces)</span>
        </div>

        <div id="cluster-bar1-select" class="form-check mr-1 mt-1 vpkfont-filter">
            <select id="cluster-ns-filter" multiple="multiple" style="width: 250px" id="cluster-bar1-options">
                <option>all-namespaces</option>
                <option>&lt;cluster-level&gt;</option>
                <option>default</option>
            </select>
        </div>

        <hr style="margin-left: -10px;">
        <div class="form-check vpkfont-filter">
            <span>SOUND</span>
        </div>

        <div class="form-check vpkfont-filter ml-1">
            <input class="form-check-input filter-checkbox" type="checkbox" value="" id="clusterFilterSound" checked>
            <label class="form-check-label" for="clusterFilterSound">
                Play Sound
                <span class="vpkfont-filter">(sound indicates resource was selected in view)</span>
            </label>
        </div>

        <hr style="margin-left: -10px;">
        <div class="mb-2 ml-3">
            <button type="button" id="c3DBackground" class="btn btn-primary btn-sm vpkButtons pd-2"
                onclick="saveClusterFilters()">Save filters as default</button>
        </div>
        <!-- <div class="form-check vpkfont-filter">
                    <span class="pt-1">BACKGROUND</span>
                </div>

                <div>
                    <span class="form-check vpkfont-filter">Click color or
                        image:&nbsp;&nbsp;<span id="colorTitle" class="vpkfont-filter"></span></span>

                    <table class="ml-1" style="width: 250px; border: 1px solid black;">
                        <tr>
                            <td style="width: 25px; height: 30px; background: rgb(255,255,255);"
                                onclick="set3dBackColor('255','255','255','White')">
                            </td>
                            <td style="width: 25px; height: 30px; background: rgb(244, 244, 244);"
                                onclick="set3dBackColor('242','242','242','Grey')">
                            </td>
                            <td style="width: 25px; height: 30px; background: rgb(220,208,255);"
                                onclick="set3dBackColor('220','208','255','Lavender')">
                            </td>
                            <td style="width: 25px; height: 30px; background: rgb(234,219,200);"
                                onclick="set3dBackColor('234','219','200','Straw')">
                            </td>
                            <td style="width: 25px; height: 30px; background: rgb(32,178,170);"
                                onclick="set3dBackColor('32','178','170','Teal')">
                            </td>

                            <td style="width: 25px; height: 30px; background: rgb(72,61,139);"
                                onclick="set3dBackColor('72','61','139','Purple')">
                            </td>
                            <td style="width: 25px; height: 30px; background: rgb(154,185,115);"
                                onclick="set3dBackColor('154','185','115','Olive')">
                            </td>
                            <td style="width: 25px; height: 30px; background: rgb(131,105,83);"
                                onclick="set3dBackColor('131','105','83','Brown')">
                            </td>
                            <td style="width: 25px; height: 30px; background: rgb(0,0,0);"
                                onclick="set3dBackColor('0','0','0', 'Black')">
                            </td>
                        </tr>
                    </table>

                    <table class="ml-1" style="width: 250px;">
                        <tr>
                            <td onclick="set3dBackColor('0','0','0', 'Stars')">
                                <img style="float:left" src="images/stars.jpg" width="125" height="30" />
                            </td>
                            <td onclick="set3dBackColor('0','0','0', 'Clouds')">
                                <img style="float:left" src="images/clouds.jpg" width="122" height="30" />
                            </td>
                        </tr>
                    </table>

                </div> -->
    </div>
</div>

<!-- Function on Tab: CLUSTER - 3d screen shot-->
<div id="clusterPicture" class="text-center mr-2" style="display: none;">
    <div class="text-center vpkfont-lg mt-1 mb-1">VpK Cluster 3D view</div>
    <div id="clusterScreenShot" class="text-center vpkfont-lg mt-1 mb-2"></div>
</div>