<!-- Tab: WORKLOAD SCHEMATICS  -->
<div id="schematic" class="tab-pane">
    <div id="schematicReturn" style="margin-left: 40px;">

    </div>
    <div id="schematic_border">
        <div id="schematicDetail" class="vpkfont ml-1">
        </div>
    </div>

    <!-- FILTER on left of screen-->
    <span id="schematic_filter" class="vpkhidden">Filter</span>

</div>