<!--
        Copyright (c) 2018-2023 Dave Weilert

        Permission is hereby granted, free of charge, to any person obtaining
        a copy of this software and associated documentation files (the
        "Software"), to deal in the Software without restriction, including
        without limitation the rights to use, copy, modify, merge, publish,
        distribute, sublicense, and/or sell copies of the Software, and to
        permit persons to whom the Software is furnished to do so, subject to
        the following conditions:

        The above copyright notice and this permission notice shall be
        included in all copies or substantial portions of the Software.

        THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
        EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF
        MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
        NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE
        LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION
        OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION
        WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
-->


<div>
        <ul id="tabs" class="nav nav-tabs ml-1 mr-0 vpkfont-md" style="background-color: #f2f2f2;">
                <li class="nav-item"><a id="clusterTab" href="#cluster" data-target="#cluster" data-toggle="tab"
                                class="nav-link small text-uppercase">Cluster</a></li>
                <li class="nav-item"><a id="schematicTab" href="#schematic" data-target="#schematic" data-toggle="tab"
                                class="nav-link small text-uppercase">Workload Schematics</a></li>
                <li class="nav-item"><a id="storageTab" href="#storage" data-target="#storage" data-toggle="tab"
                                class="nav-link small text-uppercase">Storage</a></li>
                <li class="nav-item"><a id="securityTab" href="#network" data-target="#security" data-toggle="tab"
                                class="nav-link small text-uppercase">Network</a></li>
                <li class="nav-item"><a id="securityTab" href="#security" data-target="#security" data-toggle="tab"
                                class="nav-link small text-uppercase">Security</a></li>
                <li class="nav-item"><a id="ownerliksTab" href="#ownerlinks" data-target="#ownerlinks" data-toggle="tab"
                                class="nav-link small text-uppercase">OwnerRef Links</a></li>
                <li class="nav-item"><a id="ownerliksTab" href="#evtMsgs" data-target="#evtMsgs" data-toggle="tab"
                                class="nav-link small text-uppercase">Event Msgs</a></li>
                <li class="nav-item"><a id="statsTab" href="#stats" data-target="#stats" data-toggle="tab"
                                class="nav-link small text-uppercase">Stats</a></li>
                <li class="nav-item"><a id="imagesTab" href="#containerImages" data-target="#containerImages"
                                data-toggle="tab" class="nav-link small text-uppercase">Container Images</a></li>
                <li class="nav-item"><a id="tableTab" href="#searchview" data-target="#searchview" data-toggle="tab"
                                class="nav-link small text-uppercase">Search</a></li>
        </ul>
</div>